/* здесь используйте глобальные переменные */

:root {
  --titleColor: #000000;
  --textColor: #444444;
  --bgGreen: rgba(104, 183, 56, 1);
  --bgGrey: rgba(234, 234, 234, 1);
  --bgWhite: rgba(255, 255, 255, 1);
  --line: rgba(217, 217, 217, 1);
  --specialGrey: rgba(205, 205, 205, 1);
}